<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SomniAlert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A661B7A1C4F325000F1AEFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A661B8E1C4F325000F1AEFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A661B991C4F325000F1AEFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
